# Шаблон конфигурации принт-сервера CUPS IPP Everywhere
LOCAL_SERVER_HOST=192.168.2.141
LOCAL_SERVER_USER=user
LOCAL_SERVER_PASSWORD=your_server_password

# Учетная запись администратора Web GUI CUPS (http://192.168.2.141:631/admin)
CUPS_ADMIN_USER=admin
CUPS_ADMIN_PASSWORD=admin

# Учетные данные для SSH к Windows-клиентам (опционально)
WIN_SSH_USER=ssh
WIN_SSH_PASSWORD=ssh
